<ion-header [translucent]="true">
    <ion-toolbar color="warning">
        <ion-title>
            Feed
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="danger">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-text-center" lines="none">
                    <ion-icon name="logo-rss" class="logo" color="light"></ion-icon>
                    <h1>Feed</h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row>
            <ion-input type="email" placeholder="Your Email" class="input"></ion-input>
        </ion-row>
        <ion-row>
            <ion-input type="password" placeholder="Your Password" class="input"></ion-input>            
        </ion-row>
    </ion-grid>
</ion-content>